DATABASE_URL=postgresql://user:pass@host:5432/romexqc
# DB_TYPE=mssql
# MSSQL_SERVER=localhost
# MSSQL_DATABASE=RomexQC
# MSSQL_USER=sa
# MSSQL_PASSWORD=TuPassword
# MSSQL_ENCRYPT=false
PORT=3000
NODE_ENV=production
